@keyframes onLoadEvent {
    0%{
        opacity: 0;
        transform: translateY(5%);
    }
    50%{
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

form{
    animation: 1.5s ease-out 0s 1 onLoadEvent;
}